// Overrides bootstrap/variables.less

@brand-primary: #949494;
@font-family-serif: "BentonSans", Tahoma, Geneva, sans-serif;

@navbar-default-link-color: @brand-primary;
@nav-link-hover-bg: transparent;
@navbar-default-link-active-bg: transparent;
@navbar-default-link-active-color: #000;
@navbar-default-link-hover-color: #000;
@nav-tabs-active-link-hover-color: #000;

@dropdown-link-color: @brand-primary;
@dropdown-link-hover-color: #000;
@dropdown-link-active-color: #000;
@dropdown-link-hover-bg: transparent;
@dropdown-link-active-bg: transparent;

@title-color: #888;
@border-color: #ccc;

@footer-height: 100px;
